
{% extends "layout.html.twig" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block pageTitle %}{{ chapter.title }}{% endblock %}
{% block content %}
    <div class="row">
        {% if chapter %}
            <div class="">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>{{ chapter.title }}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{ chapter.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                No chapter found.
            </div>
        {% endif %}
    </div>
    <div class="row">
        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Commentaires</h3>
                        {% if comments %}
                        <div class="panel-body">    
                                {% for comment in comments %}
                                    <div class ="panel panel-default">
                                        <div class="panel-heading">                                
                                            {{ comment.author.username }} le {{comment.date|date('d/m/y')}}
                                        </div>
                                        <div class ="panel-body">
                                            {{ comment.content }}
                                        </div>
                                    </div>
                                    <div style="margin-left: 70px">
                                        {% if comment.children != null %}
                                            {%include 'home/comment.html.twig' with {'comments': comment.children} %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                        </div>
                        {% else %}
                            <div class="panel-body">
                                Ce chapitre n'a pas été commenté. Laissez un message à l'auteur !
                            </div>
                        {% endif %}
            </div>
    </div>
{% endblock %}{# empty Twig template #}
