{% for comment in comments %}
    <div class ="panel panel-default">
        <div class="panel-heading">                                
            {{ comment.author.username }} le {{comment.date|date('d/m/y')}}
        </div>
        <div class ="panel-body">
            {{ comment.content }}

            {% if rank<3 %}
                <br/>
                <br/>
                {% if commentForm %}
                    <button type="button" class="btn btn-primary repondre" id="{{comment.id}}">Répondre</button>
                {% else %}
                    <a href="{{ path('login') }} ">Se connecter</a> ou <a href="{{ path('signin') }}">s'inscrire</a> pour ajouter des commentaires.
                {% endif %}
            {% endif %}
        </div>
        <div class="panel-footer">
            <form method="post">
                <input type="hidden" name="report_id" value="{{ comment.id }}"/>
                <button type="submit" class="btn btn-warning report" name ="report" ><span class="glyphicon glyphicon-alert"></span> Signaler</button>
            </form>
        </div>
    </div>
    <div style="margin-left: 30px">
        {% if comment.children != null %}
            {% set rank=rank+1 %}
            {%include 'home/comment.html.twig' with {'comments': comment.children, 'rank' : rank} %}
            {% set rank=rank-1 %}
        {% endif %}
    </div>
{% endfor %}