
{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block pageTitle %}Accueil{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
    {% if chapters %}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Dernier chapitre publié</h3>
                </div>
                <div class="panel-body">
                    {% set lastChapter = chapters|first %}
                    <h3><a class="chapterTitle" href="{{ path('chapter', { 'id': lastChapter.id }) }}">{{ lastChapter.title }}</a></h3>
                    <p>{{ lastChapter.content|striptags|truncate(400)|raw }}</p>
                    <a href="{{ path('chapter', { 'id': lastChapter.id }) }}" class="btn btn-default">Lire la suite</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="">
                <div class="panel-group">
                    {% for chapter in chapters %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3><a class="chapterTitle" href="{{ path('chapter', { 'id': chapter.id }) }}">{{ chapter.title }}</a></h3>
                            </div>
                            <div class="panel-body">
                                <p>{% autoescape %}{{ chapter.content|striptags|truncate(400)|raw }}{% endautoescape %}</p>
                                <a href="{{ path('chapter', { 'id': chapter.id }) }}" class="btn btn-default">Lire la suite</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning">
                Aucun chapitre n'a été trouvé.
            </div>
    {% endif %}
    </div>   
{% endblock %}{# empty Twig template #}
